apiVersion: v1
data:
  nginx.conf: |
      # nginx config
      server {
          listen 8080;
          listen [::]:8080;

          server_name localhost;
          #server_name demo.domain.com;
          root /;

          location /keystone/ {
              proxy_pass https://{{ ctlvip }}:35357/;
              proxy_redirect     off;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
          location /nova/ {
              proxy_pass https://{{ ctlvip }}:8774/;
              proxy_redirect     off;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
          location /neutron/ {
              proxy_pass https://{{ ctlvip }}:9696/;
              proxy_redirect     off;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
          location /glance/ {
              proxy_pass https://{{ ctlvip }}:9292/;
              proxy_redirect     off;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
          location /cinder/ {
              proxy_pass https://{{ ctlvip }}:8776/;
              proxy_redirect     off;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
kind: ConfigMap
metadata:
  name: openstack-config
  namespace: iop
